*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: intel;
}
nav{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 40px;
}
ul{
    display: flex;
    gap:40px;
    list-style: none;
    margin-left: auto;
    margin-right: 50px;
}
nav img{
    position: absolute;
    left: 0;
    padding-left: 250px;
}
ul li a{
    text-decoration: none;
    color: black;
}